{% trans_default_domain 'PubLeashBundle' %}
{% extends '@PubLeash/layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="page-header">
                    <h3>{{ status_code }}: {{ status_text }}</h3>
                </div>
                {% block customized_message %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}