body {
    padding-top: 70px;
}

.navbar-custom {
    background-color: #292929;
    border-color: #292929;
}
.navbar-custom .navbar-brand {
    color: #e8e8e8;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #c7c7c7;
}
.navbar-custom .navbar-text {
    color: #e8e8e8;
}
.navbar-custom .navbar-nav > li > a {
    color: #e8e8e8;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #c7c7c7;
}
.navbar-custom .navbar-nav > li > .dropdown-menu {
    background-color: #292929;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
    color: #e8e8e8;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #c7c7c7;
    background: #474747 linear-gradient(to bottom, #393939 0%, #474747 100%);
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #474747;
}
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c7c7c7;
    background-color: #474747;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #c7c7c7;
    background-color: #474747;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    color: #c7c7c7;
    background-color: #474747;
}
.navbar-custom .navbar-toggle {
    border-color: #474747;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #474747;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #e8e8e8;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #e8e8e8;
}
.navbar-custom .navbar-link {
    color: #e8e8e8;
}
.navbar-custom .navbar-link:hover {
    color: #c7c7c7;
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #e8e8e8;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c7c7c7;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #c7c7c7;
        background-color: #474747;
    }
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #393939;
}

.publication:hover
{
    -moz-box-shadow: 0 0px 5px 5px #ddd;
    -webkit-box-shadow: 0 0px 5px 5px #ddd;
    box-shadow: 0 0px 5px 5px #ddd;
}

.publication .tools-row {
    margin-top: -14px;
    margin-left: -14px;
    margin-right: -14px;
    border-bottom: solid 1px #ddd;
    box-shadow: 0 4px 2px -2px #ddd;
    margin: -4px;

}

.publication .tools-row .btn {
    border-radius: 0;
    margin-left: -4px;
}

.publication .author,
.publication .info,
.publication-show .author,
.publication-show .info{
    display: block;
    margin-top: -10px;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
}

h1, h2, h3 {
    overflow: hidden;
}

/* CSS used here will be applied after bootstrap.css */
.half {
    position:relative;
}
/*.font{*/
    /*font-size:6em;*/
/*}*/
.half:after {
    content:'';
    position:absolute;
    z-index:1;
    background:white;
    width: 50%;
    height: 100%;
    left: 47%;
}

h1 .glyphicon {
    font-size: 25px;
}

h3 .glyphicon {
    font-size: 20px;
}

.star-color {
    color: #ff9100;
}

.star-color-empty {
    color: #ffe6e6;
}

.icon-star-empty.icon-star-half:after { content: '\f006'; text-indent: -.35em;}

.add-color {
    color: #00CC00;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-danger {
    border-left-color: #ce4844;
}

.bs-callout-info {
    border-left-color: #1b809e;
}

.bs-callout-info:hover {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(27,128,158,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(27,128,158,1);
    box-shadow: 0px 0px 5px 2px rgba(27,128,158,1);
}

.add-chapter-content-editor {
    min-height: 600px;
}

.media-list .review {
    margin: 10px;
    padding: 10px;
}

.hidden-entity-type-field {
    margin-bottom: 15px;
}

/*.thumbnail {*/
    /*height: 380px;*/
/*}*/