{% extends (render_base_layout is not defined or render_base_layout == true)?"PubLeashBundle:layout.html.twig":"@User/none.html.twig" %}

{% block body %}
    <div class="container" style="width: 800px">
        <div class="well center-block" style="max-width: 800px">
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
{% endblock %}