{#<div class="container-fluid">#}
    {#{{ knp_menu_render('PubLeashBundle:MainMenu:breadcrumbs', {'currentAsLink': false, 'currentClass': 'active', 'template': 'knp_menu_ordered.html.twig'}) }}#}
{#</div>#}

